/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Jan, 2022, 10:32:54 PM
    Author     : Yadav
*/


label{
    color:black;
}
h2{
    color:#FF5800;;
    padding-left:550px;
    font-size:50px;
    padding-top:50px;
}